<h1>Lista de nuestros productos</h1>
<p>Haga un click en el producto que quiere añadir</p>
<p></p>
<button type="button" (click)="enviarPadre('pan')" >1.pan</button><br>
<button type="button" (click)="enviarPadre('agua')">2.agua</button><br>
<button type="button" (click)="enviarPadre('leche')">3.Leche</button><br>
<button type="button" (click)="enviarPadre('cafe')">4.cafe</button><br>
<button type="button" (click)="enviarPadre('azucar')">5.Azucar</button><br>
<button type="button" (click)="enviarPadre('huevos')">6.Huevos</button><br>